@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-background: #dcd4cc;
    --cor-secundaria: #4D4D4D;
    --cor-terciaria: #B46060;
}

*{
    margin: 0;
    padding: 0;
}

.cor__cabecalho {
    background-color: #A08886
}

body{
    box-sizing: border-box;
    background-color: var(--cor-background);
    color: var(--cor-secundaria);
    background-image: url(../assets/LogoJG.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%; 
}

.principal__cp {
    box-sizing: border-box;
    background-color: #c9bcb0;
    color: var(--cor-secundaria);
    background-image: url(../assets/fundoplano.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%; 
}

.carrossel {
    margin: 50px;
}

.carrossel__imagem1 {
    height: 400px;
    object-fit: contain;
}

.carrossel__imagem2 {
    height: 400px;
    object-fit: contain;
    
}

.carrossel__imagem3 {
    height: 400px;
    object-fit: contain;
    
}

.carrossel__imagem4 {
    height: 400px;
    object-fit: contain;
}

.cp__principal {
    margin: 50px;
}

.cp__titulo {
    font-size: 1.25rem;
    font-family: 'Krona One', sans-serif;
}

.cp__texto {
    font-size: 1.12rem;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.menu__link { 
    text-decoration: underline;
    font-family: 'Montserrat', 'sans-serif';
    margin-right: 350px;
    color: #000000;
} 

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;
}

.apresentacao__conteudo__titulo{
    font-size: 1.25rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__titulo2 {
    font-size: 1.25rem;
    font-family: 'Krona One', sans-serif;
    text-align: center;
}

.apresentacao__conteudo__texto{
    font-size: 1.12rem;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link {
    /*background-color: #22D4FD;*/
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px 0 ;
    color: #272727;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__link:hover {
    background-color: #dcd4cc;
    border: 2px solid #272727
}

.imagem { 
    padding: 5px;
    border: 3px inset #C4A29F;
    border-radius: 100%;
    width: 30%;
}


.imagem2 { 
    padding: 5px;
    border: 3px inset #B46060;
    border-radius: 100%;
    width: 33%;
}

.imagem3 { 
    padding: 5px;
    border: 3px inset #B46060;
    border-radius: 15px;
    width: 20%
}

.rodape {
    display: flex;
    justify-content: end;
    font-size: 10px;
}

@media (max-width: 834px) {

.principal {
    background-image: url(../assets/logoteste.jpeg);
    background-position: center;
    background-repeat: no-repeat;
}

.logo__imagem {
    display: none;
}


.apresentacao{
    flex-direction: column-reverse;
    padding: 5%;
}

.apresentacao__conteudo{
    width: auto;
}

.apresentacao__conteudo__titulo {
    text-align: center;
}
}